<div class="main-wrapper" >
<div class="row-wapper">
    <div class="map">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" click="marker.click">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <div class="video" >
        <div id="player" ng-show="videoActive"></div>
        <h4 class="text-center" ng-show="!videoActive">אין וידאו</h4>
    </div>
</div>
<div class="row-wapper">
    <div class="calls">
        <div class="header">
            <h4>קריאות</h4>
        </div>
        <ul class="list-view list-unstyled clearfix">
            <li class="clearfix" ng-repeat="call in calls" ng-click="focusOnMarker(call)">
                <p>{{ call.report._id }}</p>
                <p>{{ call.location.address }}</p>
                <p>{{ call.location.lat }}</p>
                <p>{{ call.location.lng }}</p>
                <p>
                    <span class="handle blink" ng-show="call.report.handle == 0 || call.newMsg"><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="handle warning"  ng-show="call.report.handle == 1 && !call.newMsg" ><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="handle ended"  ng-show="call.report.handle == 2 && !call.newMsg" ><i class="fa fa-circle" aria-hidden="true"></i></span>
                </p>
                <p>{{ call.report.created_at | date:"dd/MM/yyyy 'ב' h:mma"  }}</p>
            </li>
        </ul>
    </div>
    <div class="chat">
        <div class="header clearfix">
            <h4 class="pull-right" >שיחה עם</h4>
            <div class="btn-group pull-left" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" ng-click="action(1)">כוחות בדרך</button>
                <button type="button" class="btn btn-default btn-sm hidden" ng-click="action(2)">עדכן מיקום</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="action(3)">האירוע הסתיים</button>
            </div>
        </div>
        <ul class="list-unstyled chat-view clearfix " scroll-glue>
            <li class="clearfix" ng-repeat="msg in msgs">
                <div class="message" ng-class="{ user : msg.dispatch == false }">
                    <p class="person" ng-if="msg.dispatch == true" ><small ><i class="fa fa-headphones"></i> מוקד</small></p>
                    <p class="person" ng-if="msg.dispatch == false"><small  ><i class="fa fa-user"></i> אזרח</small></p>
                    <div class="the-msg">
                        <p ng-bind-html="msg.msg | unsafe" ></p>
                    </div>
                    <time>{{ msg.time | date:"dd/MM/yyyy 'ב' h:mma" }}</time>
                </div>
            </li>

        </ul>
        <div class="footer">
            <form>
                <div class="input">
                    <textarea placeholder="השב" class="form-control" ng-model="message"></textarea>
                </div>
                <div class="btns">
                    <button class="btn btn-block btn-info" ng-click="sendMsg()" >שלח</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>