<div class="dept-list clearfix" >

    <div class="col-md-4">
        <div class="form well">
            <h4>הוסף שירותי הצלה</h4>
            <form novalidate ng-submit="submitForm(insertService.$valid)" name="insertService">
                <div class="form-group" ng-class="{ 'has-error' : insertService.type.$invalid && !insertService.type.$pristine }">
                    <label>סוג השירות</label>
                    <select name="type" id="" ng-model="newService.type" required class="form-control">
                        <option value="1">משטרה</option>
                        <option value="2">מגן דוד אדום</option>
                        <option value="3">מכבי אש</option>
                    </select>
                    <p ng-show="insertService.type.$invalid && !insertService.type.$pristine" class="help-block">שדה חובה.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : insertService.name.$invalid && !insertService.name.$pristine }">
                    <label>שם התחנה</label>
                    <input type="text" name="name" ng-model="newService.name" class="form-control" required placeholder="שם התחנה">
                    <p ng-show="insertService.name.$invalid && !insertService.name.$pristine" class="help-block">שדה חובה.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : insertService.lat.$invalid && !insertService.lat.$pristine }">
                    <label>מיקום</label>
                    <input type="text" name="lat" ng-model="newService.lat" class="form-control" required placeholder="אורך">
                    <p ng-show="insertService.lat.$invalid && !insertService.lat.$pristine" class="help-block">שדה חובה.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : insertService.long.$invalid && !insertService.long.$pristine }">
                    <input type="text" name="long" ng-model="newService.long" class="form-control" required placeholder="רוחב">
                    <p ng-show="insertService.long.$invalid && !insertService.long.$pristine" class="help-block">שדה חובה.</p>
                </div>
                <button class="btn btn-info" ng-disabled="insertService.$invalid">הוסף</button>
            </form>
        </div>
    </div>

    <div class="col-md-8">
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li><h5><strong>משטרה</strong></h5></li>
                <li ng-repeat="n in services.police" >
                    <a ui-sref="dept({ dept : n.eSType, id: n._id })">{{ n.name }}</a>
                </li>


            </ul>
        </div>

        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li><h5><strong>מגן דוד אדום</strong></h5></li>
                <li ng-repeat="n in services.medical" >
                    <a ui-sref="dept({ dept : n.eSType, id: n._id })">{{ n.name }}</a>
                </li>


            </ul>
        </div>

        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li><h5><strong>מכבי אש</strong></h5></li>
                <li ng-repeat="n in services.fire" >
                    <a ui-sref="dept({ dept : n.eSType, id: n._id })">{{ n.name }}</a>
                </li>


            </ul>
        </div>
    </div>


</div>